/* H5BP styles. */
@import "../vendor/h5bp/css/normalize.css";
@import "../vendor/h5bp/css/main.css";

html, body {
    height: 100%;
    background: #696969;
}

#main {
    position: absolute;
    top: 40%;
    width: 100%;
}

#player {
    margin: 0 auto;
    width: 500px;
}

.player-time {
    background: #D3D3D3;
    width: 50px;
    text-align:right;
}

